.footer {
    position: relative;
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, black 0%, 30%, #111111 100%);
    color: #fff;
    top: -204px;
    padding: 40px 20px;
    flex-direction: column; /* Para que se apilen en pantallas pequeñas */
    z-index: 20;

}

.footer-container {
    display: flex;
    flex-direction: column; /* Cambia la disposición en pantallas pequeñas */
    justify-content: space-between;
    align-items: center;
    text-align: center; /* Centra el contenido en pantallas pequeñas */
}

.footer-left {
    max-width: 400px;
    margin: 30px 0;
}

.footer-left h3 {
    color: #FA653A;
}

.footer-right {
    margin-top: 20px;
    text-align: center;
}

.footer-right ul {
    list-style: none;
    padding: 0;
}

.footer-right li {
    display: inline;
    margin: 0 10px;
}

.footer-right a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.footer-right a:hover {
    color: #FA653A;
}

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    border-top: 1px solid #333;
    padding-top: 10px;
    
}

/* Media queries para pantallas pequeñas */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column; /* Dispone en columna en pantallas más pequeñas */
        text-align: center;
    }

    .footer-left, .footer-right {
        max-width: 100%; /* Asegura que tomen el 100% del ancho en pantallas pequeñas */
        margin: 20px 0;
    }

    .footer-right li {
        display: block;
        margin: 10px 0;
    }
}
