/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.app {
    height: 100vh; 
    background-color: #111111;
}

.content_body {
    position: relative;
    height: 100vh; 
    z-index: 0;
    background-color: #111111;
    background-image: linear-gradient(
      32deg,
      rgba(8, 8, 8, 0.74) 30px,
      transparent
    );
    background-size: 60px 60px;
    background-position: -5px -5px;
    padding: 20px;
}
.cortina_degrade{
    position: relative;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, 70%, rgba(0, 0, 0, 1) 100%);
    z-index: 1;
    height: 200px;
    top: -200px;
}

/* Estilos para la presentación */
.presentation {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    margin: 0 auto; 
    height: 100%; 

}

.presentation-title {
    font-size: 3.5rem; /* Tamaño del título */
    margin-bottom: 50px; /* Espacio debajo del título */
    color: #FA653A;
}

.presentation-description {
    font-size: 1.2rem;
    max-width: 600px; 
    text-align: center; 
    color: #fff;
}


