/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.app {
    height: 100vh; 
    background-color: #111111;
}

.content_body {
    position: relative;
    height: 100vh; 
    z-index: 0;
    background-color: #111111;
    background-image: linear-gradient(
      32deg,
      rgba(8, 8, 8, 0.74) 30px,
      transparent
    );
    background-size: 60px 60px;
    background-position: -5px -5px;
    padding: 20px;
}
.cortina_degrade{
    position: relative;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, 70%, rgba(0, 0, 0, 1) 100%);
    z-index: 1;
    height: 200px;
    top: -200px;
}

/* Estilos para la presentación */
.presentation {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    margin: 0 auto; 
    height: 100%; 

}

.presentation-title {
    font-size: 3.5rem; /* Tamaño del título */
    margin-bottom: 50px; /* Espacio debajo del título */
    color: #FA653A;
}

.presentation-description {
    font-size: 1.2rem;
    max-width: 600px; 
    text-align: center; 
    color: #fff;
}



.social-links {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    gap: 20px; /* Espacio entre los íconos */
    margin-top: 60px; 
}

.social-icon {
    color: #fff; /* Color blanco para los íconos */
    transition: color 0.3s ease; /* Transición suave al cambiar el color */
}

.social-icon:hover {
    color: #FA653A; /* Cambia el color al pasar el mouse */
}



  ul {
    list-style: none;
  }

  .example-2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .example-2 .icon-content {
    margin: 0 10px;
    position: relative;
  }
  .example-2 .icon-content .tooltip {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    background: #1A1A1A;
    padding: 6px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
  }
  .example-2 .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -50px;
  }
  .example-2 .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #4d4d4d;
    background-color: #1A1A1A;
    transition: all 0.3s ease-in-out;
  }
  .example-2 .icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
  }